<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERMS Menu</title>
</head>
<body>
    <h1><big>ERMS</big> <small>Main Menu</small></h1>
    <p>User name: {{ name }}</p>
    <p>User Info: {{ userInfo }}</p>
    <hr>
    <a href="/AddResource">Add Resource</a> <br>
    <a href="/AddEmergencyIncident">Add Emergency Incident</a> <br>
    <a href="/SearchResource">Search Resource</a> <br>
    <a href="/ResourceStatus">Resource Status</a> <br>
    <a href="/ResourceReport">Resource Report</a> <br>
    <a href="/login">Exit</a>
</body>
</html>